*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
} 
.container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(135deg,#cbc7cb,#8b8787,#000000);
    padding: 10px;
   
}
.todo-app{
    width:100%;
    max-width: 540px;
    margin: 100px auto 20px;
    padding: 40px 40px 40px;
    border-radius: 10px;
}
.row{
    display: flex;
    align-items: center;
    border-radius: 30px;
    padding:10px;
    margin-bottom: 25px;
}
input{
    flex:1;
    border: none;
    outline: none;
    padding: 20px;
    font-weight: 12px;
}
#input-box{
    height: 40px;
    width: 80%;
    border-radius:30px ;
    outline: none;
    margin-right: -35px;
    font-family:'Ysabeau Office', sans-serif;
    border: 2px solid rgb(150, 151, 151);
}
button{
    outline: none;
    border: black;
    background: rgb(151, 151, 151);
    color:white;
    padding: 12px 50px;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
}
button:hover{
    color: rgb(0, 0, 0);
}
ul li{
    list-style: none;
    font-size: 20px;
    padding: 12px 8px 12px 40px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
  content: '';
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  top:12px;
  left: 8px;
}
ul li.done{
 color: #000000;
 text-decoration: line-through;
 position: relative;
}
ul li.list-container::before {
  content: '';
  position:absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  top:12px;
  left:8px
}
ul li span{
    position: absolute;
    right: 0;
    top:5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    line-height: 40px;
    text-align: center;
}
ul li span:hover{
    background: #cbc7cb42;
    border-radius: 30px;
}